body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    background: linear-gradient(180deg, #e3f1e8 0%, #d9efe3 100%);
    color: #0b1c60;
    overflow-x: hidden;
    
    display: flex; 
    justify-content: center; 
    min-height: 100vh; 
}

:root {
    --azul: #171d96;
    --verde-escuro: #2f7d34;
    --verde-medio: #44a34a;
    --verde-claro: #8ae98a;
}


#busca {
    background: white;
    width: 60%;
    max-width: 650px;
    margin-top: 25vh; 
    margin-bottom: auto;
    padding: 25px 40px;
    border-radius: 20px;
    border: 3px solid var(--azul);
    position: relative;
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.12);
}


/* Título */
#busca label {
    display: block;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

/* Campo de texto */
#busca input[type="text"] {
    width: 100%;
    padding: 12px 14px;
    font-size: 18px;
    border-radius: 12px;
    border: 2px solid var(--verde-escuro);
    outline: none;
    margin-bottom: 15px;
}

/* Foco do input */
#busca input[type="text"]:focus {
    box-shadow: 0 0 8px rgba(30, 150, 34, 0.5);
}

/* Botão */
#busca input[type="submit"] {
    width: 100%;
    padding: 12px;
    background: var(--azul);
    border: none;
    border-radius: 12px;
    color: white;
    font-size: 18px;
    cursor: pointer;
    font-weight: 600;
}

#busca input[type="submit"]:hover {
    background: #16227e;
}


#busca::before {
    content: "";
    width: 85px;
    height: 45px;
    background: linear-gradient(135deg, var(--verde-medio), var(--verde-escuro));
    border-radius: 100% 0 100% 0;
    position: absolute;
    top: -28px;
    right: -40px;
    transform: rotate(18deg);
    box-shadow: inset 0 0 8px rgba(0, 50, 0, 0.45);
}

#busca::after {
    content: "";
    width: 120px;
    height: 70px;
    background: linear-gradient(45deg, var(--verde-medio), var(--verde-escuro));
    border-radius: 0 100% 0 100%;
    position: absolute;
    bottom: -40px;
    left: -55px;
    transform: rotate(-12deg);
    box-shadow: inset 0 0 10px rgba(0,0,0,0.35);
    z-index: 10;
}

.leaf-secondary {
    position: absolute;
    bottom: -15px;     
    left: -9px;      
    width: 70px;
    height: 50px;
    background: var(--verde-claro);
    border-radius: 100% 0 100% 0;
    transform: rotate(70deg);
    box-shadow: inset 0 0 6px rgba(0,0,0,0.25);
    border: 2px solid var(--verde-escuro);
    z-index: 9;       
}

#card {
    display: none !important;
}


@media (max-width: 600px) {
    #busca {
        width: 85%;
        padding: 20px;
    }
}
